.cart {
    transition: .3s;
    position: relative;

    &__body {
        padding: 10px 25px;
    }

    &__title {
        min-height: 80px;
        text-align: center;
    }

    &__icon {
        width: 30px;
        position: absolute;
        right: 30px;
        bottom: 30px;
        transition: .3s;
        cursor: pointer;

        &:hover {
            transform: rotate(360deg);
        }
    }

    &__text {
        font-size: ($font-size-base / 1.5);
    }

    &__price {
        font-weight: $font-weight-bold;
    }

    &:hover {
        box-shadow: 0 0 20px 0 $gray-700;
        z-index: 5;
    }
}
