.pagination {
    &__list {
        display: flex;
        list-style: none;
        position: relative;
    }

    &__item {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid $orange;
        text-align: center;
        padding: 2px;
        font-weight: bold;

        &:hover {
            box-shadow: 0 0 10px 0 $gray-700;
        }

        a {
            color: black;
        }
    }
}

.disabled {
    background: $gray-700;
}
