.product-card {
    flex-basis: 20%;
    border-radius: 3px;
    margin: 3px;
    transition: .5s;
    position: relative;
    z-index: 100;

    &:hover {
        transform: scale(1.01);
        transition: .3s;
        box-shadow: 0 0 20px 5px $gray-500;
    }

    .card-title {
        height: 60px;
        line-height: 18px;
    }
}
