.product-card {
    flex-basis: 15%;
    background-color: $gray-400;
    box-shadow: 3px 3px 3px grey;
    margin: 5px;
    transition: .3s;

    &:hover {
        box-shadow: 7px 7px 7px grey;
    }

    .cart {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
    }
}
