.navigation {
    margin: 5px;
    background-color: $gray-900;
    height: 100px;

    .site-logo {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-color: $orange;
        padding: 10px;

        &__title {
            color: $white;
            font-weight: bold;
        }
    }
}
