.main-content {
    flex-basis: 80%;
    margin: 5px;

    .products {
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
    }

    .pangination {
        display: flex;
        list-style: none;
        font-size: 20px;
        font-weight: bold;
    }
}
