.header {
    max-width: 1280px;
    margin: 0 auto 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $background-secondary;
    color: $color-secondary;
    height: 80px;
    border-bottom: 2px solid $orange;
    border-radius: $border-radius;

    &__item {
        flex-grow: 1;
        position: relative;
    }

    &__cart-value {
        color: $orange;
        position: absolute;
        right: 35px;
        top: 25px;
        font-size: 30px;
        font-weight: bold;

        img {
            cursor: pointer;
        }
    }
}
